@model IEnumerable<WebApplication8.Models.SanPham>
@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper" id="home">
    <div class="header">
        <div class="container" style="width:80%">
            <div class="row">
                <div class="col-md-2 col-sm-2" style="height:100px;">
                    <div class="logo" style="padding:5px"><a href="@Url.Action("Index", "Home", null)"><img style="height:90px" src="~/Content/images/mylogo-modified.png" alt="FlatShop"></a></div>
                </div>
                <div class="col-md-10 col-sm-10" style="height:100px; padding:0;">
                    <div class="header_top" style="align-items:center;display:flex;height:100%;padding:0;justify-content:space-between">
                        <ul class="nav navbar-nav">
                            <li><a href="~/ProductsOfCategory/Index/1">Thời trang nam</a></li>
                            <li><a href="~/ProductsOfCategory/Index/2">Thời trang nữ</a></li>
                            <li><a href="~/ProductsOfCategory/Index/3">Phụ kiện</a></li>
                            <li>
                                <a href="productgird.html">
                                    Tin tức
                                </a>
                            </li>
                            <li><a href="contact.html">Liên hệ</a></li>
                            <li id="search" class="search">
                                <form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Tìm kiếm..." type="text" value="" name="search"></form>
                            </li>
                            <li class="option-cart">
                                <a href="#" class="cart-icon">cart <span class="cart_no"></span></a>
                            </li>
                            <li><a href="checkout.html" class="log">Đăng nhập</a></li>
                            <li><a href="checkout2.html" class="reg">Đăng ký</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="hom-slider" style="height:750px">
        <div class="container">
            <div id="sequence" style="margin:0">
                <ul class="sequence-canvas">
                    <li class="animate-in" style="height:595px">
                        <div class="flat-caption caption1 formLeft delay300 text-center" style="margin-top: 100px; margin-left: -100px;"><span class="suphead">Luxury </span></div>
                        <div class="flat-caption caption2 formLeft delay400 text-center" style="margin-top: 100px; margin-left: -100px;">
                            <h1>For the Woman Who Deserves It</h1>
                        </div>
                        <div class="flat-caption caption3 formLeft delay500 text-center">
                        </div>
                        @{
                            var item1 = Model.ElementAt(0);
                        }
                        <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img src="~/Content/images/@item1.Anh" alt="" style="object-fit:contain;height:595px"></div>
                    </li>
                    <li style="height:595px">
                        <div class="flat-caption caption2 formLeft delay400" style="margin-top:100px;">
                            <h1>Collection For Winter</h1>
                        </div>
                        <div class="flat-caption caption3 formLeft delay500">
                        </div>
                        <div class="flat-image formBottom delay200" data-bottom="true" style="height:595px"><img src="~/Content/images/@Model.ElementAt(1).Anh" alt="" style="object-fit:contain;height:595px"></div>
                    </li>
                    <li style="height:595px">
                        <div class="flat-caption caption2 formLeft delay400 text-center" style="margin-top: 100px; margin-left: -100px;">
                            <h1>New Fashion of 2022</h1>
                        </div>
                        <div class="flat-caption caption3 formLeft delay500 text-center">
                        </div>
                        <div class="flat-image formBottom delay200" data-bottom="true" style="height:595px"><img src="~/Content/images/@Model.ElementAt(2).Anh" alt="" style="object-fit:contain;height:595px"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="promotion-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><img src="~/Content/images/promotion-01.png" alt=""></div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><img src="~/Content/images/promotion-02.png" alt=""></div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><img src="~/Content/images/promotion-03.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" style="height:750px"></div>
    <div class="container_fullwidth">
        <div class="container">
            <div class="hot-products">
                <h3><strong>Sản phẩm</strong> Hot</h3>
                <div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot" class="next" href="#">&gt;</a></div>
                <ul id="hot">
                    <li>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-3 col-sm-6">
                                    <div class="products">
                                        <div class="offer">-20%</div>
                                        <div class="thumbnail" style="margin-top:0"><a href="~/ProductDetails/Index/@item.MaSP"><img src="~/Content/images/@item.Anh" alt="Product Name"></a></div>
                                        <div class="productname" style="margin-top:40px">@Html.DisplayFor(modelItem => item.TenSP)</div>
                                        <h4 class="price">@Html.DisplayFor(modelItem => item.GiaBan)</h4>
                                        <div class="button_group"><button class="button add-cart" type="button">Thêm vào giỏ</button></div>
                                    </div>
                                </div>

                            }
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="featured-products">
                <h3><strong>Sản phẩm</strong> nổi bật</h3>
                <div class="control"><a id="prev_featured" class="prev" href="#">&lt;</a><a id="next_featured" class="next" href="#">&gt;</a></div>
                <ul id="featured">
                    <li>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-3 col-sm-6">
                                    <div class="products">
                                        <div class="offer">-20%</div>
                                        <div class="thumbnail" style="margin-top:0"><a href="~/ProductDetails/Index/@item.MaSP"><img src="~/Produc" alt="Product Name"></a></div>
                                        <div class="productname" style="margin-top:40px">@item.TenSP</div>
                                        <h4 class="price">@Html.DisplayFor(modelItem => item.GiaBan)</h4>
                                        <div class="button_group"><button class="button add-cart" type="button">Thêm vào giỏ</button></div>
                                    </div>
                                </div>

                            }
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="our-brand">
                <h3><strong>Thương hiệu </strong> của chúng tôi</h3>
                <div class="control"><a id="prev_brand" class="prev" href="#">&lt;</a><a id="next_brand" class="next" href="#">&gt;</a></div>
                <ul id="braldLogo">
                    <li>
                        <ul class="brand_item">
                            <li>
                                <a href="#">
                                    <div class="brand-logo"><img src="~/Content/images/envato.png" alt=""></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo"><img src="~/Content/images/themeforest.png" alt=""></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo"><img src="~/Content/images/photodune.png" alt=""></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo"><img src="~/Content/images/activeden.png" alt=""></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo"><img src="~/Content/images/envato.png" alt=""></div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="footer-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-logo" style="padding-top:30px;"><img style="height:90px" src="~/Content/images/mylogo-modified.png" alt=""></div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="title">Thông tin <strong>Liên hệ</strong></h4>
                        <p>No. 1, Underground, Hanoi , Vietnam</p>
                        <p>Điện thoại : (XX) YYYY ZZZZ</p>
                        <p>Email : doanhwibu5cm@gmail.loli</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="title">Trợ giúp<strong> Khách hàng</strong></h4>
                        <ul class="support">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Thanh toán</a></li>
                            <li><a href="#">Đặt hàng</a></li>
                            <li><a href="#">Thông tin</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="title">Nhận thông tin mới từ <strong>Chúng tôi </strong></h4>
                        <p>I'm Master Doanh and i'm wibu.</p>
                        <form class="newsletter">
                            <input type="text" name="" placeholder="Nhập email của bạn....">
                            <input type="submit" value="Đăng ký" class="button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright © 2012. Designed by <a href="#">Doanh and Nghia</a>. All rights reseved</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icon">
                            <li><a href="#" class="linkedin"></a></li>
                            <li><a href="#" class="google-plus"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>